@model TrashCollector.Models.Customer

@{
    ViewData["Title"] = "Create a Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Create a customer</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrashPickUp" class="control-label"></label>
                <input asp-for="TrashPickUp" class="form-control" />
                <span asp-validation-for="TrashPickUp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtraPickUp" class="control-label"></label>
                <input asp-for="ExtraPickUp" class="form-control" />
                <span asp-validation-for="ExtraPickUp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TemporarySuspendPickUp" class="control-label"></label>
                <input asp-for="TemporarySuspendPickUp" class="form-control" />
                <span asp-validation-for="TemporarySuspendPickUp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentityUserId" class="control-label"></label>
                <input asp-for="IdentityUserId" class="form-control" />
                <span asp-validation-for="IdentityUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Customer Information</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

