@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Your Trash Collector</h1>
    <br />
    <p> Returning customers login to view your account, otherwise please register for a new account.</p>
    <br />
    Employees login for work details.
    <br />
</div>
